.wrapper {
	overflow: hidden;
	padding-left: 1.125rem;
	padding-right: 1.125rem;
	max-width: 1236px;
	margin-left: auto;
	margin-right: auto;
}

	.wrapper--medium {
		max-width: 976px;
	}

	.wrapper--narrow {
		max-width: 470px;
	}

	.wrapper .wrapper {
		padding-left: 0;
		padding-right: 0;
	}

	.wrapper--b-margin {
		margin-bottom: 1rem;
	}

	@media (min-width: 600px) {

	.wrapper--b-margin {
			margin-bottom: 3.875rem
	}
	}

	.wrapper--no-padding-until-medium {
		padding-left: .375rem; /*0*/
		padding-right: .375rem;
	}

	/*0*/

	@media (min-width: 768px) {

	.wrapper--no-padding-until-medium {
			padding-left: 1.125rem;
			padding-right: 1.125rem
	}
	}

	.wrapper--no-padding-until-large {
		padding-left: .375rem; /*0*/
		padding-right: .375rem;
	}

	/*0*/

	@media (min-width: 1024px) {

	.wrapper--no-padding-until-large {
			padding-left: 1.125rem;
			padding-right: 1.125rem
	}
	}